name: Build IOS App

on: workflow_dispatch

jobs:
  build_ios:
        name: Build IOS
        runs-on: macos-latest

        steps:
          - uses: actions/checkout@v4
          - uses: subosito/flutter-action@v4
            with:
              flutter-version: '3.35.4'
              channel: 'stable'
          - run: ls -la && flutter pub get
          - run: flutter pub cache repair
          - run: flutter build ios --release --no-codesign
          - name: Create IPA
            run: |
              cd build/ios/iphoneos
              mkdir Payload
              cp -r Runner.app Payload
              zip -r blackhole.ipa Payload
          - name: Upload binary
            uses: actions/upload-artifact@v4
            with:
              name: ios-app
              path: build/ios/iphoneos/Bloomee.ipa
          - name: Upload Artifacts
            uses: actions/upload-artifact@v4
            with:
              name: Release
              path: build/ios/iphoneos/Bloomee.ipa
