name: "Build & Release for MacOs"

on: workflow_dispatch

jobs:
  build_macos:
    name: Build MacOS
    runs-on: macos-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.4'
          channel: stable
      - name: Install Dependencies
        run: flutter pub get
      - name: Build macOS App
        run: flutter build macos --release
      - name: Upload MacOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-app
          path: build/macos/Build/Products/Release/*.app
